 .page {
     padding-top: 75px; // navigation bars heights + buffer
     padding-right: 40px; // 20px gap between cards + 20px buffer
     padding-left: 170px; // side navigation width + 20px buffer
 }