@use "../../styles/variables.scss";

.side-navbar {
    width: 150px;
    height: 100vh;
    position: fixed;
    box-shadow: variables.$boxShadow;
}

.side-navbar.nav {
    padding: 100px 10px 10px 10px;
}