@use "../../styles/variables.scss";

.secondary-header {
    background-color: $gray-200;
    box-shadow: variables.$boxShadow;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    position: fixed;
    z-index: 1;
}